<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>States@Stake</title>
  </head>

  <body>
    <div class="grid-container fluid">
    <h1 class="arkansas">Arkansas</h1>
    
    <div class="anti-choice">
      <h2>Anti-choice organizations are extremely successful in Arkansas!</h2>
      <h3>...And this is what they're winning</h3>
      <div class="orgs">
        <div class="org">
          North West Arkansas Catholic Respect Life Council
          <div class="details">
            has spent $170k on lobbying efforts in the past five years
          </div>
        </div>

        <div class="org">
          Arkansas Right to Life
          <div class="details">
            has spent $1.3M on lobbying efforts in the past five years
          </div>
        </div>
      </div>

      <ul class="outcomes">
            <li>
                In 2014, some 97% of Arkansas counties had no clinics that provided abortions, and 77% of Arkansas women lived in those counties.
            </li>
            <li>
                Illegal abortion in Arkansas is defined as intentional termination of pregnancy with intent other than to increase probability of live birth or to remove dead or dying fetus, when fetus is viable.
                It is a felony unless to save the woman's life when no other form of abortion would suffice for that purpose. 
            </li>
            <li>
                Abortion of a viable fetus is permitted in Arkansas only when necessary to preserve life of mother, or where pregnancy is result of rape or of incest of minor; written certification by licensed physician is required.
            </li>
          </ul>
    </div>

    <div class="pro-choice">
      <h2>Pro-choice organizations are behind in Arkansas!</h2>
      <h3>Help their efforts to protect women!</h3>
      <div class="orgs">
        <div class="org">
          ACLU of Arkansas
          <div class="details">
            we're not sure how much they've spent on lobbying efforts
          </div>
          <a href="https://action.aclu.org/give/support-aclu-arkansas?ms=web__aff_ar_actionbutton_join" target=_blank>DONATE NOW!</a>
        </div>

        <div class="org">
          Planned Parenthood of the Great Plains
          <div class="details">
            has spent $830k on lobbying efforts in the past five years
          </div>
          <a href="https://www.weareplannedparenthood.org/onlineactions/-1TJt9FXXE--vl0dHnHSFQ2?sourceid=1000065&affiliateID=090740" target=_blank>DONATE NOW!</a>
        </div>
      </div>

      
    </div>

    <div class="more-info">
    </div>
  </div>
  </body>
</html>