<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>States@Stake</title>
  	<link rel="stylesheet" type="text/css" href="C:\Users\CarolynWalsh\Development\states-at-stake\app\assets\stylesheets\states.css">
  </head>

  <body>
    <h1 class="washington">Washington</h1>
    
    <div class="anti-choice">
      <h2>Anti-choice organizations struggle in Washington!</h2>
      <h3>Keep them on the run!</h3>
      <div class="orgs">
        <div class="org">
          Pro-Life Washington
          <div class="details">
            has spent $185k on lobbying efforts in the past five years
          </div>
        </div>

        <div class="org">
          Human Life of Washington
          <div class="details">
            has spent $185K on lobbying efforts in the past five years
          </div>
        </div>
      </div>
    </div>

    <div class="pro-choice">
      <h2>Pro-choice organizations have been relatively successful in Washington!</h2>
      <h3>Help them continue this amazing work!</h3>
      <div class="orgs">
        <div class="org">
          NARAL PRO-CHOICE Washington
          <div class="details">
            has spent $555k on lobbying efforts in the past five years
          </div>
          <a href="https://act1.myngp.com/Forms/-5115244751762751488" target=_blank>DONATE NOW!</a>
        </div>

        <div class="org">
          Washington Planned Parenthood
          <div class="details">
            has spent $1.1M on lobbying efforts in the past five years
          </div>
          <a href="https://secure.everyaction.com/p/RIwU1wC570ivS5z68UUdyQ2" target=_blank>DONATE NOW!</a>
        </div>
      </div>

      <ul class="outcomes">
        <li>
          Only 15% of Washington women live in counties with no abortion clinic.
        </li>
        <li>
          Washington law requires health insurance plans to cover dispensing of a 12-month supply of all FDA-approved contraceptives.
        </li>
        <li>
            As of 2016, Washington provides Medicaid coverage of emergency contraception without a prescription.
        </li>
        <li>
            As of 2002, Washington law ensures that sexual-assault survivors receive access to emergency contraception (EC) in hospital emergency rooms.
        </li>
        <li>
            Medical insurance plans in Washington that offer maternity coverage would also have to cover abortions and contraception under a bill that passed the Senate on Wednesday. 
        </li>
      </ul>
    </div>

    <div class="more-info">
    </div>
  </body>
</html>
      