<div id="bar-chart">
  <div class="graph">
    <ul class="y-axis">
      <li><span>2M</span></li>
      <li><span>1.5M</span></li>
      <li><span>1M</span></li>
      <li><span>500K</span></li>
      <li><span>250K</span></li>
      <li><span>0</span></li>
    </ul>
    <ul class="x-axis"
      <li><span>Anti-Choice</span></li>
      <li><span>Pro-Choice</span></li>
    </ul>
    <div class="bars">
      <div class="bar-group">
        <div class="bar bar-1 stat-2" style="height: 73%;">      
          <span>NARAL</span>
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-4 stat-1" style="height: 18%;">
          <span>Pro Life</span>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div id="bar-chart"><div class="graph"><ul class="y-axis"><li><span>1.25M</span></li><li><span>1M</span></li><li><span>750,000</span></li><li><span>500,000</span></li><li><span>250,000</span></li></ul><ul class="x-axis"<li><span>Pro-Choice</span></li><li><span>Anti-Choice</span></li></ul><div class="bars"><div class="bar-group"><div class="bar bar-1 stat-2" style="height: 83%;"><span>NARAL</span></div></div><div class="bar-group"><div class="bar bar-4 stat-1" style="height: 18%;"><span>Pro Life</span></div></div></div></div></div></div>




    <div class="bars"><div class="bar-group"><div class="bar bar-1 stat-2" style="height: 83%;"><span>NARAL</span></div></div><div class="bar-group"><div class="bar bar-4 stat-1" style="height: 18%;"><span>Pro Life</span></div></div></div> -->