body {
    font-family: Arial, Helvetica, sans-serif;
}

.washington {
    text-align: center;
    font-size: 90px;
    color: #577bf2;
    margin: 0;
    padding: 30px
}

.pro-choice {
    border-top: 3px solid black;
    padding: 10px;
    background-color: #bacafc;
}

.orgs {
    display: flex;
    justify-content: space-evenly;
}

.org {
    text-align: center;
    border: 3px solid white;
    border-radius: 3px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

ul.outcomes {
    border: 3px solid white;
    padding: 15px;
}

li {
    list-style: circle;
    margin-left: 15px;
    padding-top: 25px;
    font-size: 20px;
}

.anti-choice {
    border-top: 3px solid black;
    background: #f9c0bd;
    padding: 10px;
}

a {
    color: #577bf2;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}