<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>USA Map Example</title>
    <!-- <link rel="stylesheet" type="text/css" href="/assets/map.scss"> -->
  	<link rel="stylesheet" type="text/css" href="/assets/graph.scss">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="/assets/mapdata.js"></script>
    <script src="/assets/usmap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
  </head>
  <body>
    <div class="grid-container fluid text-center">
      <h1 class="title"> States at Stake</h1>
      <h3> Activating citizens concerned with reproductive rights through transparent data about the power of local lobbying</h3>
      <div id="map"></div>
    </div>
  </body>
</html>
      
    

